body {
  font-family:montserrat,Arial,Helvetica,sans-serif;  
  background-color: lightgray;
  padding: 3%;
  margin: 3%;
  border: 2px solid black;
  text-align: center;
  color:#1e1e1f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  margin:0 24px;
  position:relative;
  min-height:100vh
}
